[diff "zip"]
    textconv = unzip -c -a
[core]
    attributesfile = ~/.gitattributes
[filter "zippey"]
    smudge = python3 /Users/jordanethomas/Documents/OpenSource/zippey/zippey.py d
    clean = python3 /Users/jordanethomas/Documents/OpenSource/zippey/zippey.py e
